<div class="selectors">
	<% 5.times do %>
		<div class="selector">
			<p class="selector_feature">Selector feature 1 </p>
			<p class="selector_feature">Selector feature 2 </p>
			<p class="selector_feature">Selector feature 3 </p>
			<p class="selector_feature">Selector feature 4 </p>
		</div>
		<br>
	<% end %>
</div>